<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Favorites
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">

  
    
    <ion-slides style="top: 50%;"                
                [options]="slideOpts"
                *ngIf="dataLocalService.noticias.length === 0">
      <ion-slide >
        <ion-label>No favorites found</ion-label>
      </ion-slide>
    </ion-slides>

  <app-noticias *ngIf="dataLocalService.noticias.length > 0" 
                [noticias]="dataLocalService.noticias"
                [enFavoritos]="true">

              </app-noticias>

</ion-content>
